<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spo.cmmn.admin.sys.batchMng.mapper.mysql.BatchMngMapper">

	
    <!-- 
		목록 조회
	-->
	<select id="selectListBatch" parameterType="hashmap" resultType="camelHashMap">
		SELECT
			ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		   ,A.BATCH_ID
		   ,A.BATCH_NM
		   ,A.BATCH_DESC
		   ,A.BATCH_CLASS_NM
		   ,A.CRON_EXPRS
		   ,A.MM_EXPRS
		   ,A.DD_EXPRS
		   ,A.HR_EXPRS
		   ,A.MI_EXPRS
		   ,A.WK_EXPRS
		   ,A.BATCH_STRT_DT
		   ,A.BATCH_END_DT
		   ,A.USE_YN
		   ,A.DEL_YN
		   ,A.RGTR_ID
		   ,A.RGTR_IP_ADDR
		   ,A.REG_DT
		   ,A.CHNRG_ID
		   ,A.CHNRG_IP_ADDR
		   ,A.CHG_DT
			FROM TN_BATCH_MNG A
			WHERE A.DEL_YN = 'N'
	</select>

	<select id="selectListSearchBatchNm" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.BATCH_NM LIKE '%' || #{map.batchNm} || '%'
	</select>

	<select id="selectListSearchBatchDesc" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.BATCH_DESC LIKE '%' || #{map.batchDesc} || '%'
	</select>

	<select id="selectListSearchUseYn" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.USE_YN = #{map.useYn}
	</select>

	<select id="selectListSearchBatchNmUseYn" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.BATCH_NM LIKE '%' || #{map.batchNm} || '%'
		AND A.USE_YN = #{map.useYn}
	</select>

	<select id="selectListSearchBatchDescUseYn" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.BATCH_DESC LIKE '%' || #{map.batchDesc} || '%'
		AND A.USE_YN = #{map.useYn}
	</select>

	<select id="selectListSearchBatchNmBatchDesc" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.BATCH_NM LIKE '%' || #{map.batchNm} || '%'
		AND A.BATCH_DESC LIKE '%' || #{map.batchDesc} || '%'
	</select>

	<select id="selectListSearchBatchNmBatchDescUseYn" parameterType="hashmap" resultType="camelHashMap">
		SELECT
		ROW_NUMBER() over (ORDER BY A.REG_DT) AS RN
		,A.BATCH_ID
		,A.BATCH_NM
		,A.BATCH_DESC
		,A.BATCH_CLASS_NM
		,A.CRON_EXPRS
		,A.MM_EXPRS
		,A.DD_EXPRS
		,A.HR_EXPRS
		,A.MI_EXPRS
		,A.WK_EXPRS
		,A.BATCH_STRT_DT
		,A.BATCH_END_DT
		,A.USE_YN
		,A.DEL_YN
		,A.RGTR_ID
		,A.RGTR_IP_ADDR
		,A.REG_DT
		,A.CHNRG_ID
		,A.CHNRG_IP_ADDR
		,A.CHG_DT
		FROM TN_BATCH_MNG A
		WHERE 1=1
		AND A.DEL_YN = 'N'
		AND A.BATCH_NM LIKE '%' || #{map.batchNm} || '%'
		AND A.BATCH_DESC LIKE '%' || #{map.batchDesc} || '%'
		AND A.USE_YN = #{map.useYn}
	</select>

	<insert id="saveBatch" parameterType="hashmap">
		INSERT INTO TN_BATCH_MNG(
		BATCH_ID
		,BATCH_NM
		,BATCH_DESC
		,BATCH_CLASS_NM
		,CRON_EXPRS
		,MM_EXPRS
		,DD_EXPRS
		,HR_EXPRS
		,MI_EXPRS
		,WK_EXPRS
		,BATCH_STRT_DT
		,BATCH_END_DT
		,USE_YN
		,DEL_YN
		,RGTR_ID
		,RGTR_IP_ADDR
		,REG_DT
		,CHNRG_ID
		,CHNRG_IP_ADDR
		,CHG_DT
		) VALUES(
		#{map.batchId},
		#{map.batchNm},
		#{map.batchDesc},
		#{map.batchClassNm},
		#{map.cronExprs},
		#{map.mmExprs},
		#{map.ddExprs},
		#{map.hrExprs},
		#{map.miExprs},
		#{map.wkExprs},
		TO_DATE(#{map.batchStrtDt}, 'YYYY-MM-DD HH24:MI:SS'),
		TO_DATE(#{map.batchEndDt}, 'YYYY-MM-DD HH24:MI:SS'),
		#{map.useYn},
		'N',
		#{map.rgtrId},
		#{map.rgtrIpAddr},
		SYSDATE,
		#{map.chnrgId},
		#{map.chnrgIpAddr},
		SYSDATE
		)
	</insert>


	<update id="deleteBatch" parameterType="hashmap">
		UPDATE TN_BATCH_MNG A
		SET A.DEL_YN = 'Y'
		WHERE A.BATCH_ID = #{map.batchId}
	</update>

	<update id="modifyBatch" parameterType="hashmap">
		UPDATE TN_BATCH_MNG A
		SET A.BATCH_NM = #{map.batchNm},
			A.BATCH_DESC = #{map.batchDesc},
			A.BATCH_STRT_DT = TO_DATE(#{map.batchStrtDt}, 'YYYY-MM-DD HH24:MI:SS'),
			A.BATCH_END_DT = TO_DATE(#{map.batchEndDt}, 'YYYY-MM-DD HH24:MI:SS'),
			A.CRON_EXPRS = #{map.cronExprs},
			A.MM_EXPRS = #{map.mmExprs},
			A.DD_EXPRS = #{map.ddExprs},
			A.HR_EXPRS = #{map.hrExprs},
			A.MI_EXPRS = #{map.miExprs},
			A.WK_EXPRS = #{map.wkExprs},
			A.USE_YN = #{map.useYn},
			A.CHG_DT = SYSDATE,
			A.CHNRG_ID = #{map.chnrgId},
			A.CHNRG_IP_ADDR = #{map.chnrgIpAddr}
		WHERE A.BATCH_ID = #{map.batchId}
	</update>
</mapper>
