<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spo.cmmn.admin.audit.transAuthStatus.mapper.mysql.TransAuthStatusMapper">

	
    <!-- 
		목록 조회
	-->
	<select id="selectList" parameterType="hashmap" resultType="camelHashMap">
		SELECT A.TRNSC_ID 
		     --, A.TRNSC_NM 
		     , A.TRNSC_DESC
		     , (SELECT LISTAGG(BB.AUTHRT_NM, ',') 
		          FROM TN_AUTHRT_TRNSC AA
		             , TN_AUTHRT BB
		         WHERE AA.AUTHRT_ID  = BB.AUTHRT_ID
		           AND AA.TRNSC_ID = A.TRNSC_ID) AS AUTHRT_NM
		  FROM TN_TRNSC A
		 WHERE 1=1
	</select>
	
	<!-- 
		로그 조회
	-->
	<select id="selectDetail" parameterType="hashmap" resultType="camelHashMap">
		SELECT A.AUTHRT_ID
		     , (SELECT AA.AUTHRT_NM 
		          FROM TN_AUTHRT AA
		         WHERE AA.AUTHRT_ID = A.AUTHRT_ID) AS AUTHRT_NM
		     , HIST_OCRN_DT
		     , AUTHRT_YN
		  FROM TH_AUTHRT_TRNSC A
		 WHERE 1=1
		   AND A.TRNSC_ID = #{trnscId}
	</select>
	
</mapper>